
<div class="base-view">
    <h4 class="site_color">Works</h4>
    <h6 class="site_color">Md Shahjahan : Administrator</h6>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-content">
                <table class="table table-bordered">
                    <thead>
                        <tr class="heading">
                            <th>SL</th>
                            <th>Task</th>
                            <th>Description</th>
                            <th>Assigned To</th>
                            <th>End Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="worklog">
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var token = localStorage.getItem('token');
    if (token == '')
        window.location.href = '/Account/Login';
    $.ajax({
        type: 'GET',
        url: development_api + 'dataProvider/worksList',
        beforeSend: function (xhr) {
            xhr.setRequestHeader('Authorization', token);
        },
        success: function (resp) {
            var tBody = '';
            $.each(resp, function (index, data) {
                console.log(data);
                var row = '<tr>';
                row += '<td class="text-center">' + data.Id + '</td>';
                row += '<td>' + data.TaskName + '</td>';
                row += '<td>' + data.TaskDescription + '</td>';
                row += '<td class="text-center">' + data.NameOfAssignee + '</td>';
                row += '<td class="text-center">' + data.EndDate + '</td>';
                row += '<td class="text-center">' + data.Status + '</td>';
                tBody += row;
            });
            $('#worklog').empty().append(tBody);
        },
        error: function (resp) {
            alert(resp);
        }
    });
</script>
