@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* This div will switch views, which means it will render all partial views within it *@
<div id="SiteContent" class="content-area">

</div>