<div class="sidebar">
    <h2>AI</h2>
    <ul id="asideNav">
        <li><a href="javascript:void(0)" class="nav-anchor active arrow" onclick="UpdateSelect(this, 'dashboard')"><i class="fa fa-home" aria-hidden="true"></i><label class="nav-label">Dashboard</label></a></li>
        <li><a href="javascript:void(0)" class="nav-anchor" onclick="UpdateSelect(this, 'profile')"><i class="fa fa-user"></i><label class="nav-label">My Profile</label></a></li>
        <li><a href="javascript:void(0)" class="nav-anchor" onclick="UpdateSelect(this, 'works')"><i class="fa fa-cog"></i><label class="nav-label">My Works</label></a></li>
        <li><a href="javascript:void(0)" class="nav-anchor" onclick="UpdateSelect(this, 'business')"><i class="fa fa-cogs"></i><label class="nav-label">Manage Business</label></a></li>
        <li><a href="javascript:void(0)" class="nav-anchor" onclick="UpdateSelect(this, 'users')"><i class="fa fa-user-plus"></i><label class="nav-label">Users</label></a></li>
        <li><a href="javascript:void(0)" class="nav-anchor" onclick="UpdateSelect(this, 'Customers')"><i class="fa fa-user-circle"></i><label class="nav-label">Customers</label></a></li>
        <li><a href="javascript:void(0)" class="nav-anchor" onclick="UpdateSelect(this, 'schedule')"><i class="fa fa-calendar"></i><label class="nav-label">Schedule</label></a></li>
        <li><a href="javascript:logout()"><i class="fa fa-power-off"></i><label class="nav-label">Logout</label></a></li>
    </ul>
</div>
